<form (ngSubmit)="onSubmit()" [formGroup]="formData">
    <div class="row">
        <div class="col">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Task</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="colFormLabel" formControlName="task" placeholder="Put your task">
            </div>
        </div>
        <div class="col">
            <label for="colFormLabel" class="col-lg-10 col-form-label">Date of finish</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" formControlName="date" id="colFormLabel" placeholder="Choose your date">
            </div>
        </div>
    </div>

    <div class="row">

    </div>
    <div class="form-group">
        <div class="form-check">
            <div class="custom-control custom-switch">
                <input type="checkbox" formControlName="isAccept" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Accept Terms and Conditions</label>
            </div>
        </div>
    </div>
    <button type="submit" [disabled]="!formData.valid" class="btn btn-outline-dark">Submit</button>
</form>
<div class="container">
    <app-list *ngIf="datas.length>0" (delData)="rmData($event)" [Data]="datas"></app-list>
</div>